#wrapper
  display: block
  margin: auto
  overflow: hidden
  padding: $b-space-l
  padding-top: 0

// -------------------------------------
//   Modifiers
// -------------------------------------

html
  background-color: MDcolor(blue-grey, 50)

h1
  border-bottom: 2px MDcolor(blue-grey, 100) solid
  padding: $b-space-xs 0
  margin: $b-space 0

h2
  padding: 0 $b-space
  float: left
  height: 100%
  width: 17%

// -------------------------------------
//   Grid
// -------------------------------------

#Grid
  .show-grid
    border: 1px MDcolor(blue-grey, 100) solid
    border-top: 0
    border-bottom: 0



// -------------------------------------
//   Chapter
// -------------------------------------

.chapter,
.chapter-content
  display: block
  overflow: hidden
  width: 100%

.chapter-subContent
  float: right
  width: 74%