doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Online Style Guild Editor
    link(href="css/application.css" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width,initial-scale=1")

  body
    #io
      .io
        textarea(placeholder="JSON here.")
        .io-btns
          button.io-example Example
          button.io-submit Submit
        .io-status -
      .io-toggleBtn
          .nav-icon
              div
    #wrapper

    script(data-main="js/main.js" src="bower/requirejs/require.js")
    //- script(data-main="js/app.js" src="bower/requirejs/require.js")

